<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>NexaBoard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    

</head>

<body>
    <div class="sidebar">
    <h2>NexaBoard</h2>
    <a href="#">Dashboard</a>
    <a href="#">Projects</a>
    <a href="#">Tasks</a>
    <a href="#">Team</a>
</div>

<div class="header">
    <h1>Dashboard</h1>
    <p>Smart Project Management Dashboard</p>
</div>


<div class="container">

    <h2>Projects</h2>
    <h1>12</h1>
    <p>Total Projects</p>
    <a href="/projects/">
    <button>View</button>
</a>

    <h2>Tasks</h2>
    <h1>48</h1>
    <p>Total Tasks</p>
    <button>View</button>


    <h2>Team</h2>
    <h1>5</h1>
    <p>Team Members</p>
    <button>View</button>
</div>

</body>
</html>